# Jitsi Meet (Local Development)
JITSI_APP_ID=my-app-id
JITSI_APP_SECRET=043aee60310956355bf636e0e1a84318f76b52d7d61b06650f08713ea835598c
JITSI_SERVER_URL=http://localhost:8000
JITSI_JWT_EXPIRATION=7200

OPENAI_API_KEY=your-openai-api-key-here
# Deepgram
DEEPGRAM_API_KEY=your-deepgram-api-key-here

# Media Storage
MEDIA_STORAGE_PATH=./media

# Server
SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30


# Database
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/cnt_db


# Server
SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

